/*  your css code here. If applicable */

 body {
     text-align: center;
}
h1 {
	text-align: center;
}
.middle {
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 20px;
}
td, th {
    border: 1px solid black;
    padding: 1px;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
#t-image{
	
}